@import "../../styles/variables.scss";

.home {
  height: calc(100vh - 8rem);
  color: white;
  padding: 4rem 1.5rem;
  z-index: 1;

  background-image: url("../../../public/BackgroundYoga.jpeg");
  background-size: cover;

  @include breakpoint(md) {
    padding: 4rem 3rem;
    font-size: 3rem;
  }

  .text {
    width: 80%;
    text-align: left;
    position: absolute;
    bottom: 0;

    @include breakpoint(md) {
      width: 40%;
    }

    .about {
      font-size: 25px;
    }

    .book {
      font-family: $Poppins;
      font-size: 22px;
      cursor: pointer;
      a {
        color: white;
        text-decoration: underline;
      }
    }
  }
}
